<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Default daily rate (2018-6-30 => 2018-7-9)</th>
      <th>Average daily rate (2018-6-30 => 2018-7-9)</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <% cache listing do %>
        <tr>
          <td><%= listing.id %></td>
          <td><%= listing.title %></td>
          <td><%= listing.default_daily_rate %></td>
          <%# just for experimentation with caches i used the dates from Case3 %>
          <td><%= average(listing, DateTime.new(2018,6,30), DateTime.new(2018,7,9)).round(2) %></td>
          <td><%= rate(listing, DateTime.new(2018,6,30), DateTime.new(2018,7,9)).round(2) %></td>
          <td><%= link_to 'Show', listing %></td>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= will_paginate @listings %>

<br>

<%= link_to 'New Listing', new_listing_path %>
