<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @listing.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Default daily rate:</strong>
  <%= @listing.default_daily_rate %>
</p>

<p>
  <strong>Average daily rate:</strong>
  <%= average(@listing, DateTime.new(2018,6,30), DateTime.new(2018,7,9)).round(2)  %>
</p>

<p>
  <strong>Rate:</strong>
  <%= rate(@listing, DateTime.new(2018,6,30), DateTime.new(2018,7,9)).round(2) %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
